body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7c7e7e63;
    margin: 0;
}
#keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
display {
    width: 100%;
    grid-column: span 4;
    padding: 20px;
    text-align: left;
    font-size: 5rem;
    background-color: #ddeef0;
    border: none;
    color: white;
}

.calculator {
    background-color: #a5d6a7;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100px
}

.calculator h1 {
    color: #2e7d32;
    margin-bottom: 20px;
}

.calculator input {
    margin: 10px 0;
    padding: 25px;
    border: none;
    border-radius: 50px;
    width: calc(100% - 22px);
    text-align: right;
    font-size: 3rem
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    padding: 15px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.buttons button:hover {
    background-color: hsl(0, 0%, 40%);
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #2e7d32;
}